@font-face
  font-family 'Uto'
  src url('uto-regular-webfont.woff2') format('woff2'), url('uto-regular-webfont.woff') format('woff');
  font-weight 400
  font-style normal

@font-face
  font-family 'Uto'
  src url('uto-medium-webfont.woff2') format('woff2'), url('uto-medium-webfont.woff') format('woff')
  font-weight 500
  font-style normal

@font-face
  font-family: 'Uto'
  src: url('uto-semibold-webfont.woff2') format('woff2'), url('uto-semibold-webfont.woff') format('woff')
  font-weight 600
  font-style normal

@font-face
  font-family 'Uto'
  src: url('uto-bold-webfont.woff2') format('woff2'), url('uto-bold-webfont.woff') format('woff')
  font-weight 700
  font-style normal
